<footer class="bd-footer bg-body-tertiary mt-auto">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
                <h5>Структура сайту</h5>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="/" class="nav-link p-0 text-body-secondary">Головна</a></li>
                    <li class="list-inline-item"><a href="/about" class="nav-link p-0 text-body-secondary">Про нас</a></li>
                    <li class="list-inline-item"><a href="/catalog" class="nav-link p-0 text-body-secondary">Каталог</a></li>
                    <li class="list-inline-item"><a href="/contacts" class="nav-link p-0 text-body-secondary">Контакти</a></li>
                    <li class="list-inline-item"><a href="/news" class="nav-link p-0 text-body-secondary">Новини</a></li>
                </ul>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2025 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a href="https://facebook.com/komora" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="link-body-emphasis">
                        <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://instagram.com/komora" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="link-body-emphasis">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://t.me/komora" target="_blank" rel="noopener noreferrer" aria-label="Telegram" class="link-body-emphasis">
                        <i class="fa-brands fa-telegram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>