<div id="login-modal" class="login-modal">
    <div class="login-modal-content">
        <span id="close-login" class="close">&times;</span>
        <form action="" class="form">
            <p>Welcome, <span>sign in to continue</span></p>
            <span class="input-span">
                <label for="email" class="label">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
            </span>
            <span class="input-span">
                <label for="password" class="label">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password">
            </span>
            <span class="span"><a href="#">Forgot password?</a></span>
            <button type="submit" class="oauthButton submit">
                Log in
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m6 17 5-5-5-5"></path>
                    <path d="m13 17 5-5-5-5"></path>
                </svg>
            </button>
            <span class="span">Don't have an account? <a href="#">Sign up</a></span>
        </form>
    </div>
</div>