{% extends 'base.html' %}

{% block title %}Про нас - Гральна Комора{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/api/api.js') }}"></script>
    {# === 1. Повідомлення, що юзер - адмін(user:cat; password:123; token: отримується з айпі) === #}
    <section class="row align-items-center mb-5" id="section-user">
        <script>
            login();
        </script>
    </section>
    
    {# === 2. Каталог товарів === #}
    <section class="row align-items-center mb-5" id="section-dekstops">
    </section>
    
    {# === 3. Новини === #}
    <section class="row align-items-center mb-5" id="section-news">
    </section>
    
    {# === 4. Відгуки === #}
    <section class="row align-items-center mb-5" id="section-feedback">
    </section>
    
    {# === 5. Адмін панель === #}
    <section class="row align-items-center mb-5" id="section-admin-panel">
    </section>

    {# === 6. Модальні вікна для кошика і замовлень === #}
    <section class="row align-items-center mb-5" id="section-admin-panel">
    </section>
{% endblock %}
