{% extends 'base.html' %}

{% block title %}Контакти - Гральна Комора{% endblock %}

{% block content %}
<div class="container mt-5">

    <section class="row text-center border-top pt-4">
        <div class="col-12">
            <h2 class="fw-bold text-warning mb-3">Завітай до нас!</h2>
            <p class="fs-5">
                📍 проспект Соборності, 43, м. Луцьк <br>
                ☎️ +380 68 123 45 67 <br>
                💌 info@komora.ua
            </p>
        </div>
    </section>

</div>
{% endblock %}
