<div class="modal fade" id="editNewsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content border border-warning">
            <div class="modal-header bg-dark text-warning">
                <h5 class="modal-title fw-bold">✏️ Редагувати новину</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
            </div>

            <form id="editNewsForm">
                <input type="hidden" name="id" id="editNewsId">

                <div class="modal-body bg-dark text-light">

                    <div class="mb-3">
                        <label class="label">Назва</label>
                        <input name="name" id="editNewsName" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>Опис</label>
                        <textarea id="editNewsDescription" name="description" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Другий опис</label>
                        <textarea id="editNewsDescriptionSecond" name="descriptionSecond" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Зображення (URL через кому)</label>
                        <input id="editNewsImages" name="images" class="form-control">
                    </div>

                </div>

                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-warning fw-bold">Зберегти</button>
                </div>
            </form>

        </div>
    </div>
</div>
